@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

*:not(i):not(.fa) {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

body {
    background-color: #121317;
}


:root {
    --mobile-header-height: 80px;
    --header-width: 250px;
    --header-padding: 0px 0px 0px 25px;
    --header-padding-mobile: 20px 25px;
    --slider-text-margin-top: -90px;
    --slider-text-font-size: 2rem;
    --slider-text-padding-left: 12px;
}

header {
    min-width: var(--header-width);
    height: 100vh;
    background-color: #030303;
    padding: var(--header-padding);
    position: fixed
}

main {
    margin-left: var(--header-width);
}

.mobile-nav {
    display: none;
}

.search-container {
    background-color: #8D8D8B;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C0C0BF;
}

.search-container i {
    color: #C0C0BF;
}

.search-container input {
    margin-left: 10px;
    background-color: transparent;
    border-style: none;
}

.search-container input:focus {
    outline: none;
}


header img {
    width: 42px;
    margin: 30px 0 20px 0;
}

nav h2 {
    color: #8A8A8A;
}

.nav-links {
    list-style-type: none;
    margin-top: 20px;
}

.nav-links li {
    margin-top: 20px;
}

.nav-links i,
a {
    font-size: 1.1rem;
}

.nav-links a {
    margin-left: 10px;
}

.active-link * {
    color: #159FFF;
}

.active-link {
    border-right: 3px solid #159FFF;
}

/* ---Mobile Nav */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #030303;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay-active {
    width: 100%;
}

.overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-content div {
    display: flex;
    margin: 16px 0;
}

.overlay-content i {
    font-size: 36px;
}

.overlay a {
    margin-left: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #159FFF;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

/* Mobile Nav ---*/


/* ---Slider */
.search-in-slider {
    width: 220px;
    margin: 20px 40px;
    position: absolute;
    z-index: 1;
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    padding: 0 25%;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Caption text */
.slider-text {
    font-size: var(--slider-text-font-size);
    padding-left: var(--slider-text-padding-left);
    margin-top: var(--slider-text-margin-top);
    position: absolute;
    font-weight: 600;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot-container {
    padding: var(--slider-text-font-size) var(--slider-text-padding-left);
    position: absolute;
    margin-top: var(--slider-text-margin-top);
}

.dot {
    cursor: pointer;
    height: calc(var(--slider-text-font-size) / 2);
    width: calc(var(--slider-text-font-size) / 2);
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

/* Slider--- */

/* ---Custom Scrollbar */
.custom-scrollbar-container {
    margin: 2vh 0 0 2%;
}

.upper-scrollbar {
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;
}

.upper-scrollbar-right {
    display: flex;
}

.upper-scrollbar-right a {
    margin: 0 0.5rem;
    color: #8D8D8B;
    font-size: .9rem;
    font-weight: bold;
}

.upper-scrollbar-right a:hover,
.upper-scrollbar-right a:focus {
    color: #159FFF;
}

.custom-scrollbar {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    align-items: center;
    --title-margin: 1rem;
    --title-fontsize: 1rem;
    --rating-fontsize: 16px;
    /* hide overflow without overflow hidden */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    /* hide overflow without overflow hidden */
    display: none;
    /* Safari and Chrome */
}

.custom-scrollbar button {
    position: absolute;
    /* setting arrow position */
    margin-top: calc(-1 * ((2 * var(--title-margin)) + var(--title-fontsize) + var(--rating-fontsize)));
}

.custom-scrollbar button i {
    font-size: 2rem;
}

#left-scroll {
    margin-left: 20px;
}

#right-scroll {
    margin-right: 20px;
    right: 0;
}

.info-box {
    flex: 0 0 150px;
    margin-right: 5%;
    text-align: center;
    /* added ... if more than one line  */
    display: table;
    table-layout: fixed;
    width: 100%;
}

.home-scrollbar-title {
    margin: var(--title-margin) 0;
    font-size: var(--title-fontsize);
    /* added ... if more than one line  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.home-scrollbar-rating {
    color: #8D8D8B;
    font-size: var(--rating-fontsize);
}

.info-box img {
    width: 100%;
}

/* Custom Scrollbar--- */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }

    header * {
        display: none;
    }

    header {
        background-color: #030303;
        height: var(--mobile-header-height);
        width: 100%;
        padding: var(--header-padding-mobile);
    }

    .home-container {
        display: flex;
        flex-direction: column;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;

    }

    .burger,
    input {
        display: block;
    }

    .burger i {
        font-size: 2rem;
    }

    main {
        margin-left: 0px;
        margin-top: var(--mobile-header-height);
    }

    .search-in-slider {
        display: none;
    }

    .mySlides img {
        padding: 0;
    }

    :root {
        --slider-text-font-size: 1.5rem;
        --slider-text-padding-left: 10%;
    }

    .info-box {
        flex: 0 0 100px;
    }
}

@media only screen and (max-width: 1280px) {
    .mySlides img {
        padding: 0;
    }
}